## 2025-09-10 2021114954 최민국

## 사용자가월을입력하면해당월에일수를출력하라

In [ ]:
days = {
    'January': 31, 'February': 28, 'March': 31, 'April': 30, 'May': 31, 
    'June': 30, 'July': 31, 'August': 31, 'September': 30, 'October': 31, 
    'November': 30, 'December': 31
}


month = input("월의 전체 이름을 입력하세요 (예: January): ")
day_count = days.get(month)

if day_count:
    print(f"{month}의 일수는 {day_count}일입니다.")
else:
    print("잘못된 월 이름입니다.")

May의 일수는 31일입니다.

## 알파벳순서로모든월을출력하라

In [9]:
days = {
    'January': 31, 'February': 28, 'March': 31, 'April': 30, 'May': 31, 
    'June': 30, 'July': 31, 'August': 31, 'September': 30, 'October': 31, 
    'November': 30, 'December': 31
}
sorted_months = sorted(days.keys())

print("--- 알파벳 순서로 월 출력 ---")
for month in sorted_months:
    print(month)

--- 알파벳 순서로 월 출력 ---
April
August
December
February
January
July
June
March
May
November
October
September

## 일수가31인월을모두출력하라

In [10]:
days = {
    'January': 31, 'February': 28, 'March': 31, 'April': 30, 'May': 31, 
    'June': 30, 'July': 31, 'August': 31, 'September': 30, 'October': 31, 
    'November': 30, 'December': 31
}
print("--- 일수가 31일인 월 ---")
for month, day_count in days.items():
    if day_count == 31:
        print(month)

--- 일수가 31일인 월 ---
January
March
May
July
August
October
December

## 월의일수를기준으로오름차순으로(key-value) 쌍을 출력하라

In [11]:
days = {
    'January': 31, 'February': 28, 'March': 31, 'April': 30, 'May': 31, 
    'June': 30, 'July': 31, 'August': 31, 'September': 30, 'October': 31, 
    'November': 30, 'December': 31
}
sorted_by_days = sorted(days.items(), key=lambda item: item[1])

print("--- 일수 기준 오름차순 정렬 ---")
for month, day_count in sorted_by_days:
    print(f"{month}: {day_count}")

--- 일수 기준 오름차순 정렬 ---
February: 28
April: 30
June: 30
September: 30
November: 30
January: 31
March: 31
May: 31
July: 31
August: 31
October: 31
December: 31

## 사용자가월을3자리만입력하면월의일수를출력하라.(Jan, Feb 등)

In [12]:
days = {
    'January': 31, 'February': 28, 'March': 31, 'April': 30, 'May': 31, 
    'June': 30, 'July': 31, 'August': 31, 'September': 30, 'October': 31, 
    'November': 30, 'December': 31
}
abbr = input("월의 3자리 약어를 입력하세요 (예: Jan): ")

found = False
for month in days.keys():
    
    if month.startswith(abbr):
        print(f"{month}의 일수는 {days[month]}일입니다.")
        found = True
        break 

if not found:
    print("해당하는 월이 없습니다.")

May의 일수는 31일입니다.