## 2025-09-16 2021114954 최민국

## 함수의 정의와 호출 예

In [1]:
def welcome(name) : 
    print("Hello, ", name) 
    welcome('John')

## 반환값이 없는 함수, 값을 반환하는 함수

In [2]:
def prtStr(str) : 
    print("%s" %str) 
    return 
str = "Wecome to Python" 
prtStr(str)

Wecome to Python

In [3]:
def squareArea(s) : 
    area = s * s 
    return area 
a = squareArea(5) 
b = squareArea(7) 
print("한변의 길이가 %d인정사각형의넓이는%d" %(5, a)) 
print("한변의 길이가 %d인정사각형의넓이는%d" %(7, b))

한변의 길이가 5인정사각형의넓이는25
한변의 길이가 7인정사각형의넓이는49

## 1~n까지의합을계산하는함수

In [5]:
def sum(n): 
    hab = 0 
    for i in range(1, n+1): 
        hab = hab + i 
    return hab  
a = sum(50) 
b = sum(1000) 
print(a) 
print(b)

1275
500500

반지름을전달하면원의면적을반환하는cir_area(r) 함수와원의둘레를반환하는cir_cirm(r) 함수를 작성하라. 이들함수를이용하여반지름이3.5cm인원의면적과둘레를소수점아래첫자리까지구하라.

In [6]:
import math 


def cir_area(r):
  
  return math.pi * (r ** 2)

def cir_cirm(r):
  return 2 * math.pi * r

radius = 3.5

area = cir_area(radius)
circumference = cir_cirm(radius)

print(f"반지름이 {radius}cm인 원의 면적: {area:.1f} cm²")
print(f"반지름이 {radius}cm인 원의 둘레: {circumference:.1f} cm")

반지름이 3.5cm인 원의 면적: 38.5 cm²
반지름이 3.5cm인 원의 둘레: 22.0 cm

## 지역변수

In [7]:
def func1() :    
    v = 10      
    print("func1()의v = %d" % v) 
def func2() :    
    v = 20      
    print("func2()의v = %d" % v) 
func1() 
func2()

func1()의v = 10
func2()의v = 20

## 전역 변수의 유효 범위

In [8]:
def func1() :    
    v = 10     
    print("func1()의v = %d" % v) 
def func2() :    
    print("func2()의v = %d" % v) 
v = 20
func1() 
func2()

func1()의v = 10
func2()의v = 20

## 전역 변수의 선언

In [9]:
def func1() :    
    v = 10     
    print("func1()의v = %d" % v) 
def func2() :    
    global v     
    v = 30    
    print("func2()의변경된전역v = %d" % v) 
v = 20 
func1() 
func2() 
print(v)

func1()의v = 10
func2()의변경된전역v = 30
30

## 매개변수의 기본값 지정

In [10]:
def prtMesg(message, count=1): 
    print (message * count) 
prtMesg('default') 
prtMesg('Hi! ', 5)

default
Hi! Hi! Hi! Hi! Hi!

In [11]:
def greet(name, msg="Nothing new?"):    
    print("Hi! ", name + ', ' + msg) 
greet("Abe") 
    
greet("Bob", "Good morning!")

Hi!  Abe, Nothing new?
Hi!  Bob, Good morning!

## 가변매개변수-매개변수의개수가가변일때

In [12]:
def total(*numbers):    
    sum = 0    
    for n in numbers: 
        sum += n    
    return sum 
print (total(1,2,3)) 
print (total(1,2,3,4,5))

6
15

In [13]:
def dicPresident(**keywords):    
    for i in keywords.keys(): 
        print("%s : %d-th president" %(i, keywords[i])) 
dicPresident(Kennedy=35, Obama=44, Trump=45)

Kennedy : 35-th president
Obama : 44-th president
Trump : 45-th president

## 키워드를이용한매개변수전달

In [14]:
def func(a, b=2, c=3): 
    print('a=', a, 'b=', b, 'c=', c) 
    return a + b + c 
print(func(4, 5)) 
print(func(5, c=7))

a= 4 b= 5 c= 3
12
a= 5 b= 2 c= 7
14

## 람다 함수

In [15]:
sum = lambda x, y: x+y 
print( "정수의 합 : ", sum( 10, 20 )) 
print( "정수의 합 : ", sum( 20, 20 ))

정수의 합 :  30
정수의 합 :  40

## 재귀 함수

In [16]:
def fact(n): 
    if n==1:  
        return 1 
    else: 
        return n*fact(n-1)  
print(fact(5))

120

## 내장 함수

>>> eval('1+2*3')

7

>>> int('123')

123

>>> int('1010',2)

10

>>> list(filter(lambda x: len(x)>2, ['this', 'is', 'a', 
'test']))

['this', 'test']